/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */


#list-cursos {
	-fx-background-color: transparent;
	-fx-control-inner-background: transparent;
	
	
}

#list-cursos .list-cell {
	-fx-alignment: center;
	-fx-font-weight: bold;
	-fx-font-size: 1.3em;
	
	
}

#list-cursos .list-cell:filled:focused:selected {
	-fx-background-color: orange;
}



#table-search { 
	-fx-background-color: #283747;
}

/*Header Table Search */


#table-search .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

#table-search .column-header {
    -fx-background-color:  #1ABC9C;
    -fx-table-cell-border-color: orange;
    -fx-border-color: transparent;
}

#table-search .table-cell{
    -fx-text-fill: white;
}

#table-search:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: orange;
    -fx-table-cell-border-color: orange;
    
}

#table-search .table-row-cell:filled{
    -fx-background-color: -fx-table-cell-border-color, #283747;
}

#table-search .table-row-cell{
    -fx-background-color: #283747;

}

#search-input {
	-fx-background-color: #283747;
	-fx-text-fill: white; 
}

#clickme { /* .button es para aplicar a todos los botones el mismo estilo */ 
	-fx-font-size: 20px;
	-fx-background-color: rgba(255, 255, 255, .80);
	-fx-text-fill:  #ff69b4;
	-fx-padding: 6 6 6 6;
	-fx-border-radius: 8;
	-fx-font-weight: bold;
}

#mymessage {
	-fx-font-size: 20px;
	-fx-background-color: rgba(255, 255, 255, .80);
	-fx-text-fill:  #ff69b4;
	-fx-padding: 6 6 6 6;
	-fx-border-radius: 8;
	-fx-font-weight: bold;
}

.root {
	-fx-background-color: gray;
}

#detail-header {
	-fx-background-color: #154360;
	-fx-pref-height: 70px;
}

#btn-search { 
	-fx-background-color: rgba(26, 188, 156, 0.8);
}

.card {
	-fx-background-color: #283747;
	/*-fx-pref-width: 250px;*/
	/*-fx-pref-height: 300px;*/
}

.barChart {
	-fx-background-color: transparent;
}

.chart-horizontal-grid-lines {
    -fx-stroke: transparent;
}
.chart-vertical-grid-lines {
    -fx-stroke: transparent;
}
.chart-plot-background {
    -fx-background-color: transparent;
}

.message {
	-fx-padding: 2.5px 15px;
}

.wrapper {
	-fx-background-color: rgba(26, 188, 156, 0.8);
	-fx-border-radius: 15px;
}

.axis-label {
   -fx-text-fill: red; 
}